/*footer*/
footer {
    background-color: black;
     p {
      @extend %tipografiaGeneral;
    }
    .menu-redes-footer {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      padding-left: 85%;
    }
  }
  
  h4 {

    text-align: right;
    @extend %tipografiaGeneral;
    padding-right: 75px;
  }