 /*Header*/
 .video-fondo {
    width: 40%;
    padding-left: 1000px;
    position: relative;
  }
  
  h1 {
    font-size: 30px;
    font-family: "Mochiy Pop P One", sans-serif;
    color: nth($colores,1 );
    padding-left: 5px;
  }
  
  @media screen and (max-width: 460px) {
    h1 {
      font-size: 25px;
      padding-left: 5px;
    }
  }
  .logo {
    width: 72px;
  }
  
  @media screen and (max-width: 460px) {
    .logo {
      position: relative;
      width: 60px;
    }
  }
  /*Menu principal*/
  .items-menu-principal {
    text-decoration: none;
    color: nth($colores,2 );
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-inline-end: 225px;
  }

  
  .items-menu-principal:hover {
    color: lightcyan;
  }
  
  @media screen and (max-width: 460px) {
    .items-menu-principal {
      font-size: 17px;
      margin-inline-end: 0;
    }
  }
  @media screen and (min-width: 850px) {
    .barra-navegacion {
      display: flex;
      justify-content: center;
    }
  }
  /*redes sociales*/
  .menu-redes{
    display: flex;
    background-color: nth($colores,3 );;
    justify-content: right;
    padding: 5px;
    padding-left: 85%;
       
    
  }
  .icono-redes {
    width: 40px;
    height: 40px;
  }